DEBUG=True
SECRET_KEY="django-insecure-3vtnn39_bc_^jyp3o^)k#nbp@g6kap4!9f=ok5px19urh6m(kj"

DB_NAME=robot_monitor
DB_USER=postgres
DB_PASSWORD=password
DB_HOST=db
DB_PORT=5432

# Change these to use the Redis service name
REDIS_HOST=redis
REDIS_PORT=6379

CELERY_BROKER=redis://redis:6379/0
CELERY_BACKEND=redis://redis:6379/0

# Django
ALLOWED_HOSTS=localhost,127.0.0.1,web,0.0.0.0
CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000